
@{
    ViewBag.Title = "Index";
}


<html>

<head>


</head>
<body>
    <h2>員工資料查詢</h2>
    @using (Html.BeginForm("Index", "FinalExam", FormMethod.Post))
    {
        <table style="width:100%" border="1" border-collapse="collapse">
            <tr>
                <td>員工編號</td>
                <td ><input type="text" name="EmpID" class="text" /></td>
            </tr>
            <tr>
                <td>員工姓名</td>
                <td ><input type="text" name="EmpName" class="text" /></td>
            </tr>
            <tr>
                <td>職稱</td>
                <td >
                    <select name="Position" class="select">
                        <option></option>
                        @foreach (var item in ViewBag.position)
                        {
                            <option>@item</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
             
                <td>任職日期</td>
                <td><input type="date" name="AppliDate" class="date" />~<input type="date"  class="date" /></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="3"><input type="submit" value="查詢" class="btn" /><input type="reset" value="清除" class="btn" /> <a href="/Final/add"><input type="button" value="新增員工" class="btn" /></a></td>
            </tr>


        </table>

    }
</body>



</html>

<script type="text/javascript">
    

    function goback()
    {
        history.back();
    }


</script>
